<hlm-dialog [state]="isDialogOpen() ? 'open' : 'closed'" (closed)="closeDialog()">
  <button hlmDialogTrigger hlmBtn class="cursor-pointer" variant="outline" (click)="openDialog()">
    Settings
    <lucide-angular name="settings" class="text-white" />
  </button>
  <hlm-dialog-content *brnDialogContent="let ctx" class="bg-zinc-800 flex flex-col !w-[250px]">
    <hlm-dialog-header>
      <h3 brnDialogTitle hlm class="font-bold">Settings</h3>
    </hlm-dialog-header>
    <form class="flex flex-col gap-4" #form="ngForm" (submit)="saveChanges()" id="config-form">
      <brn-select
        class="inline-block ![&>label]:hidden"
        placeholder="Select currency"
        [value]="userSettingsService.userSettings().currency"
        name="currency"
        [(ngModel)]="userSettings.currency"
      >
        <label brnSelectLabel></label>
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content class="w-full">
          @for (currency of currencies; track $index) {
            <hlm-option [value]="currency.value">{{ currency.label }}</hlm-option>
          }
        </hlm-select-content>
      </brn-select>
    </form>
    <hlm-dialog-footer class="mt-4">
      <button hlmBtn variant="outline" class="cursor-pointer" brnDialogClose>Cancel</button>
      <button hlmBtn type="submit" form="config-form" class="cursor-pointer">Save changes</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
