<li
  hlmCard
  class="w-full bg-zinc-800 flex p-4 items-center flex-col sm:flex-row max-w-[700px] mx-auto"
>
  <img
    [src]="fetchSubscriptionIcon()"
    alt="{{ subscription.name }} icon"
    class="object-cover w-full sm:w-[200px] h-[150px] rounded-md"
    width="150px"
    height="150px"
  />
  <div class="flex flex-col gap-4 w-full">
    <div class="flex items-center justify-between gap-8 w-full">
      <h3 class="text-2xl font-bold truncate text-ellipsis overflow-hidden max-w-[18ch]">
        <a [href]="subscription.serviceUrl" class="group"
          >{{ subscription.name ? subscription.name : subscription.serviceUrl }}
          <div class="bg-white h-[2px] w-0 group-hover:w-full transition-all duration-500"></div>
        </a>
      </h3>
      <div class="flex gap-4">
        <app-suscription-dialog
          (saveSubscription)="editSubscription($event)"
          (dialogOpen)="isDialogOpen.set($event)"
          [isDialogOpen]="isDialogOpen()"
          [subscription]="subscription"
          [isEditing]="true"
        >
          <button hlmBtn variant="outline" class="cursor-pointer" (click)="openDialog()">
            <lucide-angular name="pencil" class="text-white w-5 h-5"></lucide-angular>
          </button>
        </app-suscription-dialog>
        <button hlmBtn variant="destructive" class="cursor-pointer" (click)="removeSubscription()">
          <lucide-angular name="trash" class="text-white w-5 h-5"></lucide-angular>
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-xl">{{ amountLabel }} per month</p>
      <p class="text-xl italic">{{ amountPerYearLabel }} per year</p>
    </div>
  </div>
</li>
