<header class="flex flex-col gap-8 items-center justify-center mt-24 p-24 relative">
  <h1 class="text-6xl font-bold text-center text-white">Subsly</h1>
  <p class="text-xl max-w-md text-center text-pretty">Manage, visualize, save</p>
  <button hlmBtn class="cursor-pointer" variant="secondary">Get Started!</button>
  <app-landing-header-pattern
    class="text-white h-[500px] w-[500px] absolute -top-15 left-0 right-0 mx-auto pointer-events-none inset-0 [mask-image:radial-gradient(230px_circle_at_center,white,transparent)] z-10"
  />
</header>
