<div class="mt-24 flex justify-end items-center w-full">
  <h2 class="text-4xl text-center w-full font-bold">Your subscriptions</h2>
  <app-suscription-dialog
    (dialogOpen)="isDialogOpen.set($event)"
    [isDialogOpen]="isDialogOpen()"
    (saveSubscription)="saveSubscription($event)"
  >
    <button class="cursor-pointer" hlmBtn variant="outline" (click)="openDialog()">
      <lucide-angular name="plus" class="text-white"></lucide-angular>
    </button>
  </app-suscription-dialog>
</div>

<ul class="mt-16 flex flex-col gap-12 items-center justify-center">
  @if (
    userSubscriptionsService.userSubscriptions() &&
    userSubscriptionsService.userSubscriptions().length === 0
  ) {
    <li hlmCard class="w-full bg-zinc-800 flex p-12 flex-row max-w-[700px] mx-auto">
      <p class="text-lg text-center w-full">No subscriptions yet</p>
    </li>
  }

  @for (subcription of userSubscriptionsService.userSubscriptions(); track subcription.id) {
    <app-suscription-card [subscription]="subcription" class="w-full" />
  }
</ul>
